/*
Sans:
- Hind Madurai
- Asap Condensed

Serif:
- Merriweather

Hand:
- Pacifico
*/

body {
    margin: 0;
    font-family: 'Merriweather', serif;
    color: #3ABCEE;
}

h1 {
    margin: 0;
    font-family: 'Pacifico', cursive;
    font-weight: 100;
    font-size: 5rem;
}

h2 {
    /* font-family: 'Asap Condensed', sans-serif; */
    font-size: 3rem;
    font-weight: 100;
    font-family: 'Hind Madurai', sans-serif;
}

h3 {
    font-size: 2.5rem;
    margin-bottom: 0;
}

p {
    font-size: 1.5rem;
}

#grid-3 {
    display: grid;
    grid: 1fr 1fr 1fr / 10% 10%;
    gap: 2rem;
    justify-content: center;
}

.material-icons {
    font-size: 86px;
}

#main .box {
    display: grid;
    grid: 1fr / 1fr;
    grid-auto-rows: auto;
    text-align: center;
    justify-items: center;
    align-items: center;
    margin-bottom: 30px;
}

#main > hr {
    border: dotted #3ABCEE 8px;
    border-bottom: 0;
    width: 5%;
    margin-bottom: 20px;
}

.about > img {
    width: 200px;
    border: 8px solid #3ABCEE;
    border-radius: 100%;
}

.sun {
    position: absolute;
    grid-area: 1 / 3;
    width: 140px;
    margin: 20px auto auto 15px;
}

.section-header {
    font-weight: 500;
    font-size: 4rem;
    margin-bottom: 0;
    /* color: #E3F9FF; */
}

.section-footer {
    display: flex;
    width: 100%;
    height: 100%;
    grid-row-end: -1;
    grid-column: span 3;
    justify-content: center;
    background-color: #B7E4F9;
}

.section-footer img {
    opacity: 15%;
}

#hero {
    display: grid;
    grid-template: 1fr 1fr 2.5fr 0.5fr / 1fr 3fr 1fr;
    position: relative;
    height: 100vh;
    justify-items: center;
    background-color: #E3F9FF;
    color: #3ABCEE;
}

#main {
    background-color: #B7E4F9;
    text-align: center;
    padding-top: 50px;
}

#title-text {
    grid-area: 2 / 2;
    text-align: center;
}

#hero-image {
    width: 100%;
    position: absolute;
    overflow: clip;
    grid-area: auto / span 3 / 4;
    align-self: self-end;
}